/* You can add global styles to this file, and also import other style files */
.text-center {
    text-align: center !important;
}

.ui-datatable * {
    border : 0px !important;
    .ui-datatable-thead {
        > tr {
            th {
                .ui-sortable-column-icon:not(.fa-sort-desc):not(.fa-sort-asc) {
                    display : none;
                }
            }
        }
    }
    .ui-datatable-data { 
        tr {
            border-top: 1px 0 solid #bdbdbd !important;
            border-bottom: 1px 0 solid #bdbdbd !important;
        }
    }
}
