<div [formGroup]="group">
    <span class="ui-g-12 ui-md-12 md-inputfield">
        <div class ="ui-inputwrapper-focus"></div>
        <small class="description" *ngIf="config.description"> {{config.description | translate}} <i class="material-icons" pTooltip="{{config.hint | translate}}" *ngIf="config.hint" trackMouse="true">help</i></small> 
        <label for="{{config.name}}">{{ config.label | translate }} </label>
    </span>        
    <div class="ui-g-12 ui-md-12" style="margin-top:-10px;">
        <p-dropdown id="{{config.name}}" formControlName="{{config.name}}" [options]="dropdownOptions" [autoWidth]="false" appendTo="body"></p-dropdown>
    </div>
    <div class="ui-g-12 ui-md-12 md-inputfield" *ngIf="!group.controls[name].pristine && !group.controls[name].valid">
        <div class="ui-message ui-messages-error ui-corner-all" *ngFor="let error of errorMessages" >
                {{error.message | translate}} {{error.expected}}
        </div>
    </div>
</div>