<div [formGroup]="group">
    <span class="ui-g-12 ui-md-12 md-inputfield">
        <div class ="ui-inputwrapper-focus"></div>
        <label for="{{config.name}}" [style.color]="!group.controls[name].valid ? '#e62a10' : 'inherit'">{{ config.label | translate }} </label>
        <small class="description" *ngIf="config.description"> {{config.description | translate}} <i class="material-icons" pTooltip="{{config.hint | translate}}" *ngIf="config.hint" trackMouse="true">help</i></small>                 
    </span>
    <div class="ui-g-4 ui-md-4" *ngFor="let value of config.validation_values" style="margin-top:-10px;">
        <p-radioButton name="{{config.name}}" formControlName="{{config.name}}" value="{{value}}" label="{{value}}"></p-radioButton>
    </div>
    <div class="ui-g-12 ui-md-12 md-inputfield" *ngIf="!group.controls[name].pristine && !group.controls[name].valid">
        <div class="ui-message ui-messages-error ui-corner-all" *ngFor="let error of errorMessages">
            {{error.message | translate}} {{error.expected}}
        </div>
    </div>
</div>