<div class="card">
    <h1>{{'entity.'+entityName+'.p' | translate | titleCase}}</h1>
    <div class="card-block">
        <div class="ui-g">
            <div class="ui-g-6 ui-md-6" align="left">
                <h4>{{'all.label' | translate}} ({{(loading$ | async) ? '0' : (entityTableEntries$ | async).length}})</h4>
            </div>
            <div class="ui-g-6 ui-md-6" align="right" bottom style="padding-right: 0 !important; margin: auto !important;">
                <button pButton type="submit" style="margin-bottom:10px;width:auto" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                    (click)="addEntry=true; addEntryForm.form.reset()" [disabled]="loading$ | async">
                            <span class="ui-button-text ui-c">+ Add {{'entity.'+entityName+'.s' | translate | titleCase}}</span>
                        </button>
            </div>
        </div>
        <div *ngIf="loading$ | async">
            <div class="loading_dots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div *ngIf="!(loading$ | async)" style="border: 1px solid #bdbdbd;">
            <p-dataTable [value]="entityTableEntries$ | async" [paginator]="(entityTableEntries$ | async)?.length > 10" [rows]="10" sortMode="multiple"
                [responsive]="true">
                <p-column styleClass="text-center" *ngFor="let field of entityTableFields" field="{{field}}" header="{{entityTableFieldLabels[field] | translate}}"
                    [sortable]="true"></p-column>
                <p-column styleClass="col-button text-center">
                    <ng-template pTemplate="header">
                        Actions
                    </ng-template>
                    <ng-template let-entry="rowData" pTemplate="body">
                        <i class="material-icons" (click)="_editEntry(entry.id)" pTooltip="{{'btn.view.tooltip' | translate}}">info</i>
                        <i class="material-icons" (click)="_getEntry(entry); editEntry=true;" pTooltip="{{'btn.edit.tooltip' | translate}}">mode_edit</i>
                        <i class="material-icons" (click)="_confirmDeleteEntry(entry.id)" pTooltip="{{'btn.delete.tooltip' | translate}}">delete</i>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
        <p-confirmDialog header="Confirmation" icon="fa ui-icon-warning" width="425"></p-confirmDialog>
        <p-dialog header="New {{'entity.'+entityName+'.s' | translate | titleCase}}" [(visible)]="addEntry" modal="modal" showEffect="fade"
            hideEffect="fade" width="400" closeOnEscape="true">
            <dynamic-form #addEntryForm [config]="entityFormInputConfigs" (submit)="_saveEntry($event); addEntry=false;" [operation]="'Add'"
                [dependencies$]="entityDependencies$"> </dynamic-form>
        </p-dialog>
        <p-dialog header="Edit {{'entity.'+entityName+'.s' | translate | titleCase}}" [(visible)]="editEntry" modal="modal" showEffect="fade"
            hideEffect="fade" width="400" closeOnEscape="true">
            <dynamic-form #editEntryForm [config]="entityFormInputConfigs" (submit)="_editEntry($event); editEntry=false;" [operation]="'Save'"
                [dependencies$]="entityDependencies$"> </dynamic-form>
        </p-dialog>

    </div>
</div>