
.card {
    min-height: 600px;
}

.loading_dots
{
  font-size: 2.5vh;
  line-height: 1;
  text-align: center;
  margin: 10% auto;
}

.loading_dots span
{
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    display: inline-block;
    height: 0.6em;
    width:  0.6em;
    -webkit-animation:  loading_dots 0.8s linear infinite;
    -moz-animation:     loading_dots 0.8s linear infinite;
    -ms-animation:      loading_dots 0.8s linear infinite;
    animation:          loading_dots 0.8s linear infinite;
}
.loading_dots span:nth-child(2)
{
    -webkit-animation-delay:  0.2s;
    -moz-animation-delay:     0.2s;
    -ms-animation-delay:      0.2s;
    animation-delay:          0.2s;
}
.loading_dots span:nth-child(3)
{
    -webkit-animation-delay:  0.4s;
    -moz-animation-delay:     0.4s;
    -ms-animation-delay:      0.4s;
    animation-delay:          0.4s;
}
.loading_dots span:nth-child(4)
{
    -webkit-animation-delay:  0.6s;
    -moz-animation-delay:     0.6s;
    -ms-animation-delay:      0.6s;
    animation-delay:          0.6s;
}

/*
Define the animation for every efing vendor prefix
*/
@-webkit-keyframes loading_dots
{
  0% {
    background: transparent;
    transform: scale(0.5);
  }
  50% {
    background: #0277BD;
    transform: scale(1.5);
  }
  100% {
    background: transparent;
    transform: scale(0.5);    
  }
}

@-moz-keyframes loading_dots
{
  0% {
    background: transparent;
    transform: scale(0.5);
  }
  50% {
    background: #0277BD;
    transform: scale(1.5);
  }
  100% {
    background: transparent;
    transform: scale(0.5);
  }
}
@-ms-keyframes loading_dots
{
  0% {
    background: transparent;
    transform: scale(0.5);
    
  }
  50% {
    background: #0277BD;
    transform: scale(1.5);
    
  }
  100% {
    background: transparent;
    transform: scale(0.5);
    
  }
}
@keyframes loading_dots
{
  0% {
    background: transparent;
    transform: scale(0.5);
    
  }
  50% {
    background: #0277BD;
    transform: scale(1.5);
    
  }
  100% {
    background: transparent;
    transform: scale(0.5);
    
  }
}

.material-icons {
  margin: auto 4px;
  cursor: pointer;
  color: #354052;
  font-size: 18px;
}