<div [formGroup]="group">
        <span class="ui-g-12 ui-md-12 md-inputfield">
                <small class="description" *ngIf="config.description"> {{config.description | translate}} <i class="material-icons" pTooltip="{{config.hint | translate}}" *ngIf="config.hint" trackMouse="true">help</i></small> 
                <input id="{{config.name}}" pInputText type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget" formControlName="{{config.name}}" ng-focus="true"/>
                <label for="{{config.name}}">{{ config.label | translate }} </label>
                <div *ngIf="!group.controls[name].pristine">
                        <div class="ui-message ui-messages-error ui-corner-all" *ngFor="let error of errorMessages" >
                                {{error.message | translate}} {{error.expected}}
                        </div>
                </div>
        </span>
</div>