<form [formGroup]="form" (submit)="handleSubmit($event)">
    <div class="ui-g form-group ui-fluid">
        <ng-container *ngFor="let field of config;" dynamicField [config]="field" [group]="form" [dependency$]="dependencies$[field.name]">
        </ng-container>
    </div>
    <div [formGroup]="form">
        <span class="ui-g ui-g-12 ui-md-12 ui-fluid">
            <button pButton type="submit" label="{{operation | translate}}" style="margin:10px 0" [disabled]="!form.valid"></button>
        </span>
    </div>
</form>