<div class="footer">
    <div class="card clearfix">
        <span class="footer-text-left">PRESS.HOSTING</span>
        <span class="footer-text-right"><span class="ui-icon ui-icon-copyright"></span>  <span>All Rights Reserved</span></span>
    </div>
</div>