.login-body {
    // background:  url("../images/login/login.png") top left no-repeat #f7f7f7;
    background-color: #eff3f6;
    background-size: 100% auto;
    height: auto;
}

.login-panel {
    text-align: center;
    width: 400px;
    min-height: 440px;
    padding: 50px 20px;
    margin: 100px auto 0 auto;
    border-radius: 5px;

    .ui-g {
        .ui-g-12 {
            padding: 20px 40px;
            
            .ui-button {
                margin-bottom: 20px;
            }
        }
    }

    .md-inputfield {
        label {
            color:#999; 
            font-weight:normal;
            position:absolute;
            pointer-events:none;
            left:5px;
            top:5px;
            transition: 0.3s ease all; 
            -moz-transition: 0.3s ease all; 
            -webkit-transition: 0.3s ease all;
          }
          input:focus ~ label,
          input.ui-state-filled ~ label,
          .ui-inputwrapper-focus ~ label,
          .ui-inputwrapper-filled ~ label {
            top:-20px;
            left: 5px;
            font-size:12px;
            color:$primaryColor;
          }
    }
    
    .ui-button {
        &:hover {
            background-color: $accentDarkColor;   
        }
        
        &:focus {
            outline: 0 none;
            background-color: lighten($accentColor,10%);
        }
        
        &.secondary {
            &:hover {
                background-color: $accentDarkColor;   
            }
            
            &:focus {
                outline: 0 none;
                background-color: lighten($accentColor,10%);
            }
        }
    }
    
    .ui-inputtext {
        &:focus,
        &.ui-state-focus {
            border-width: 1px;
            border-color: $primaryColor;  
        }
    }
}

.login-footer {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: $textSecondaryColor;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .login-body {
        // background: url("../images/login/login2x.png") top left no-repeat #f7f7f7; 
        background-color: #eff3f6;
        background-size: 100% auto;
    }
}

@media (max-width: 1024px) {
    .login-panel {
        text-align: center;
        min-height: 440px;
        margin: 100px auto 0 auto;
        border-radius: 5px;
        
    }
}

@media (max-width: 640px) {
    .login-panel {
        text-align: center;
        width: 400px;
        min-height: 440px;
        padding: 40px 20px;
        margin: 75px auto 0 auto;
        border-radius: 5px;
    
        .ui-g {
            .ui-g-12 {
                padding: 20px 20px;
                
                .ui-button {
                    margin-top: 30px
                }
            }
        }
    }
}