// $primaryColor: #03A9F4;
// $primaryDarkColor: #0277BD;
// $primaryLightColor: #81D4FA;
$primaryColor:  #0277BD;
$primaryDarkColor: #004F7E;
$primaryLightColor: #03A9F4;
$accentColor: #FFC107;
$accentDarkColor: #FF8F00;
$accentLightColor: #FFE082;
$accentTextColor: #212121;

@import '../sass/theme/_theme';