<div class="login">
  <div class="ui-g">

    <div class="ui-g-6 canvas left">
      <div class="card left login-panel ui-fluid">
        <div class="ui-g">
          <div class="ui-g-12 ">
            <h1> Welcome to Press Hosting </h1>
            <h2 class="lighter"> The best tool to manage your hosting and wordpress sites. </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-6 canvas right">
      <h1 class="login-header relative top lighter"> Login to your account </h1>
      <p-growl [value]="msgs" sticky="sticky"></p-growl>
      <div class="card right login-panel ui-fluid">
        <div class="ui-g">
          <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off" id="loginForm">
            <div class="ui-g-12">
              <span class="md-inputfield">
                      <input pInputText type="text" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" formControlName="username" [disabled]="isLoading">
                      <label>Username</label>
                  </span>
            </div>
            <div class="ui-g-12">
              <span class="md-inputfield">
                    <input pInputText type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" formControlName="password" [disabled]="isLoading">
                    <label>Password</label>
                </span>
            </div>
          </form>
        </div>
      </div>
      <div class="login-button absolute bottom">
        <button pButton type="submit" [disabled]="!loginForm.valid || isLoading" form="loginForm">
                    <span class="ui-button-text ui-c">Sign in</span>
                </button>
        <span class="forgot-pass">Forgot password?</span>
      </div>
    </div>
  </div>
</div>