.login > * {
    height: 100vh;
}

.login-header {
    color: white;
    margin-left: 60px;
    &.relative{
        position: relative;
        &.top {
            top: -120px;
        }
    }
}

.login-panel {
    width: 500px;
    min-height: 180px;
    margin: 0;
    padding: 20px;
    .ui-g .ui-g-12 {
        padding: 15px 40px;
    }
}

.login-button {
    margin-left: 60px;
    &.absolute{
        position: absolute;
        &.bottom{
            bottom: 36vh;
            button {
                background-color: #004F7E;
                border-radius: 2px;
                width: 100px;
            }
            .forgot-pass {
                color: white;
                cursor: pointer;
                padding-left: 20px;
            }
        }
    }
}

.canvas {
    display : flex;
    align-items : center;
    position: relative;
    color: #d9d9d9;
    &.left {
        background-color: #36486b;
        padding-right: 0;
    }
    &.right {
        background-color: #1a8cff;
        padding-left:0;
    }
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    background: #ffffff;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    &.left {
        background-color: #222d44;
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.right {        
        left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.no-padding {
    padding: 0 !important;
}

.lighter {
    font-weight: lighter;
}

.ui-inputtext {
    padding: 8px;
}

.md-inputfield label {
    top: 7px;
}